body {
  font-family: Helvetica, sans-serif;
  background-color: #F5F5F5;
  color: #14213D;
}

.grid {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin: -0.5em; /* 5 (edit me!) */
}

.grid > * {
  flex: 1 0 25em; /* 3 (edit me!) */
  margin: 0.5em; /* 4 (edit me!) */
}

h1 {
  color: #FDA10D;
}

.reset_button {
  float: right;
}